<!DOCTYPE html>
<link rel="icon" type="image/png" href="/favicon.ico" />
<html>
  <head>
    <link rel="stylesheet" href="/_main.css">
  </head>
  <body>
    <h1>{{ .message }}</h1>
  </body>
</html>
