<!DOCTYPE html>
<html>
<head>
<title>CDI API Documentation - {{ .Msg }}</title>
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />
<link rel="icon" type="image/png" href="/api/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/api/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" href="/api/swagger-ui.css" />
<style>
  html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    margin:0;
    background: #fafafa;
  }
</style>
</head>
<body>
<div class="swagger-ui">
<div style="margin-left: 14px;">
<h1 style="margin-bottom: 0;">CDI API Documentation</h1>
<p style="margin-top: 5px; margin-left: 5px; font-size: 0.8em;">
  <a href="/api">Home</a>
</p>
</div>
<div id="consent" class="wrapper">
<hr>
<h2 style="margin-bottom: 14px;">{{ .Msg }}</h2>
{{ if .Testing }}
<p class="test">
<h2>-- test mode --</h2>
The config file includes <code>testing: true</code>
<p/>
All 302 redirects will be captured and presented as links here
<ul>
  <li><a href="{{ .DocumentRoot }}/login">login</a></li>
  <li><a href="{{ .DocumentRoot }}/logout">logout</a></li>
  <li><a href="{{ .DocumentRoot }}/validate">validate</a></li>
{{ if .TestURLs }}
  {{ range $url := .TestURLs}}
  <li><a href="{{ $url }}">{{ $url }}</a></li>
  {{ end }}
{{ end }}
</ul>
{{ end }}
<hr>
<div>
<p style="margin-left: 5px; padding-bottom: 14px; font-size: 0.8em;">© 2022 HKICL</p>
</div>
</div>
</div>
</body>
</html>
